/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap') */


.logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none; 
  font-family: "Rubik Moonrocks", sans-serif;
  font-weight: 400;
  color: aqua;
}

.numberItem{
  color: #FF204E;
  font-weight: bold;
  position: relative;
  bottom: 1rem;
  font-size: 1.2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    fill: red; /* Change to your desired color */
}